## ingnore all
/*

## really all
*.*

# add .gitgnore
!.gitignore

# add dirs
!/lib/
!/platform/
!/doc/
!/orig/
!/epo-base/

/platform/*/build/*
/epo-base/platform/*/build/*

!/platform/*/build/signal_tap/
!/platform/*/build/LAI/

## add files
!*.mod
!*.md

# Vivado project files
!*.xpr

# Quartus project files
!*.qpf
!*.qsf
!*.srf
!*.v
!*.xdc
!*.stp
!*.lai
